@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@import
  'global-styles/colors',
  'global-styles/functions',
  'global-styles/breakpoints';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: $black;
  @include flex(center, center);
  @include small-phone {
    display: block;
    padding: 150px 0;
    height: max-content;
  }
  @include phone {
    display: block;
    padding: 100px 0;
    height: max-content;
  }

  @import
    'auth/styles',
    'app';
}