.weekly-tracker {
  padding: 5px 10px;

  .labels {
    font-size: 11px;
    color: $black-o-50;
    font-weight: 600;
    @include flex(space-between, center);
  }

  .counts {
    color: $black-o-50;
    font-weight: 600;
    @include flex(center, flex-end);
    margin: 4px 0 10px;

    .current-count {
      font-size: 20px;
      color: $black;
    }

    .slash {
      margin: 0 8px;
    }

    .slash, .total-count {
      margin-bottom: 2px;
    }

    .total-count {
      font-size: 13px;
    }
  }

  @import 'weekly-tracker/progress-bar';
  
}