.progress-bar {
  width: 170px;
  height: 13px;
  border-radius: 20px;
  box-shadow: inset 0 0 4px $black;
  @include phone {
    width: 200px;
  }

  .progress {
    border-radius: 20px;
    height: 100%;
    width: 0%;
    transition: width 1s;
    background: linear-gradient(to bottom, $violet-o-25, $violet);
  }
}